{% extends "recipes/base.html" %}

{% block content %}
{% load markup typogrify tagging_tags %}
  <div class="recipes span-15 colborder">
  <h2><span>Highland Foods Recipes</span></h2>
	{% if recipes %}
    {% for r in recipes %}
    <div class="post">
	  {% if user.is_staff %}
	  {% if not r.approved  %}
		<form method="POST" action="">
		<p class="warning">This recipe has not been approved yet. <input class="approval" type="submit" value="Approve" /> <input class="delete" name="delete" type="submit" value="Delete" /></p>
		<input type="hidden" name="id" value="{{r.id}}">
		<input type="hidden" name="approval" value="True" />
		</form>
	  {% else %}
	  	<form method="POST" action="">
		<p class="notice">This recipe is approved. <input class="approval" type="submit" value="Unapprove" /> </p>
		<input type="hidden" name="id" value="{{r.id}}">
		<input type="hidden" name="approval" value="False" />
		</form>
	  {% endif %}
	  {% endif %}
      <h3 class="title"><a href="{{ r.get_absolute_url }}">{{ r.title }}</a></h3>
	  {% if r.ingredients %}
	  <h4>Ingredients</h4>
	  {{ r.ingredients|typogrify|markdown }}
	  {% endif %}
	  <h4>Directions</h4>
	  {{ r.directions|typogrify|markdown }}
	  <ul class="tags">
	    <li>Tags:</li>
		{% tags_for_object r as tags %}	
		{% for tag in tags %}
	    <li><a href="{% url recipes-tag-detail tag %}">{{tag}}</a></li>
	  	{% endfor %}
	  </ul>
    </div>
    {% endfor %}
	
	{% else %}
	<p>Sorry, we could not find any recipes that fit your request.</p>
	{% endif %}

  
  {% if is_paginated %}
  <p class="pagination">
    {% if has_next %}
    <a class="older" href="?page={{ next }}">Older</a>
    {% endif %}
    {% if has_next and has_previous %} | {% endif %}
    {% if has_previous %}
    <a class="newer" href="?page={{ previous }}">Newer</a>
    {% endif %}
  </p>
  {% endif %}
  </div>
{% endblock %}

{% block sidebar %}
  <div id="sidebar" class="span-6 last">
	{% if user.is_staff %}
    <h2>Filter recipes</h2>
        <p>This list is here because you are logged in as an administrator. Use the filter setting below to view unapproved recipes and set them to be approved to be viewable by the public.</p>
	<p><a href="{% url recipes-index %}">All</a></p>
	<p><a href="{% url recipes-index %}approved">Approved</a></p>
	<p><a href="{% url recipes-index %}unapproved">Unapproved</a></p>
	<p>Note: You must unapprove a recipe before it can be deleted.</p>
	{% endif %}
    <h2>Have a recipe?</h2>
    <p>We'd love to hear how you're using Maple Pepper &reg; to spice up you favorite dish. Or, have you come up with a completely original dish using the subtly sweet taste of Maple Pepper &reg;? Let other know how your using it.</p>
		<p><a href="{% url recipes-create %}">Add a recipe</a></p>
    <h2>View by tag</h2>
    {% tag_cloud_for_model recipes.Recipe as recipe_tags with steps=3 min_count=1 distribution=log %}
    <ul class="recipe_tag_cloud">
    {% for tag in recipe_tags %}
      <li><a href="{% url recipes-tag-detail tag %}" alt="{{tag}}">{{tag}}</a></li>
    {% endfor %}
    </ul>
  </div>
{% endblock %}

