{% extends "recipes/base.html" %}

{% block title %}Share a recipe at {% endblock %}

{% block content %}
<div class="recipes span-22">
	<h2><span>Highland Foods Recipe Exchange</span></h2>
	<h3>Share a recipe with us!</h3>
	<p>Fill out the form below and press submit below to share your favorite recipe using the unique flavor of Maple Pepper &reg; spices. Be sure to "tag" your recipes to help other people find it. For example, if it's a dinner dish, add the tag "dinner." Does it use pork, why not tag it with "pork."</p>
	<p>You may also leave the author and/or email blank if you would like your submission to be anonymous. However, you are required to add a title, directions and tags.</p>
	<form method="POST" action="">
	
		{{ form.media }}
	  {{form.as_p}}
	
	<p class="notice">We do not use your email address for anything other than a point of contact if there are questions about your recipe. Please read our <a href="/terms-of-service" alt="Terms of Service page">Terms of Service</a> for more information.</p>
	<p>All submitted recipes must be approved before they appear on the site. Thank you for taking the time to share your ideas! Check back again for more ideas on how to use Maple Pepper &reg; to spice up your cooking.</p>
	

	
	<input type="submit" value="Submit recipe" /> or <a href="{% url recipes-index %}">cancel</a>
	</form>
</div>

{% endblock %}
